<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
	<!-- Author: Dax Gerts (Stolen by Danny)
		Date: 18 November 2015
		Description: Home page design for webstore -->
	

	<head>
	    <title>Chompling Twitterbot</title>           
		
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	  	<link rel="stylesheet" type="text/css" href= "/static/css/style.css" media = "screen" />
	  	<link rel="stylesheet" type="text/css" href= "/static/css/twitterbot_style.css" media = "screen" />


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	  	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

		<script src=""></script>

	</head>

	<body class="align" >

		<div class="site__container">
			<div class="grid__container">

				<div class="center-block .col-xs-12 .col-md-8">
					<h4 id='pre-header'> The Computational Linguistics Club's </h4> 
					<h1 id="header"> TwitterBot </h1>

					<img id="clc-logo" src="../static/images/clc.svg"/>

					<form class="form form--login">{%csrf_token%}
						<h3>Enter your name (optional)</h3>
						
						<div class="input">
							<input type="text" class="form-control" name="user_name" id="user_name" value="{{ query }}"/>
						</div>
						
						<div id='under_name_break'></div>
						<h3>Enter a Twitter handle</h3>
						<p>(We will generate a sentence from this user's past tweets)</p>
						<div class="input-group input" id="twitter-handle-group">
							<span class="input-group-addon" id="basic-addon1">@</span>
  							<input type="text" name="twitter_handle" id="twitter_handle" value = "{{ query }}" class="form-control"/>
  						</div>
						<!--<input type="text" name="twitter_handle" id="twitter_handle" value="{{ query }}"/>-->
												
						<div id='under_handle_break'></div>
						<input type="checkbox" id="send_tweet" name="send_tweet" value="{{ query }}" onclick=""> Send Tweet 
						<p></p>
						<button class="btn btn-success" type="submit" value="Twitterbot" onclick="javascript: form.action='/twitterbot/';">Tweet</button>
						<div id='under_button_break'></div>
						
					</form>

					{% if results %}
						<div class="jumbotron" id="results-box">
							<p id='result'>
								{% if results %}
								{{ results}}
								{% endif %}
							</p>
						</div>
					{% endif }
				</div>
				
			</div>
		</div>







		<!--<div>
			<form class="form form--login">{%csrf_token%}
				<h2>Option 1: Search Article Database</h2>
				<input type="text" name="q" id="id_q" value="{{ query }}"/>
				<input type="submit" value="Search" onclick="javascript: form.action='/search/';">
				<input type="checkbox" id="sort" name="sort" value="{{ query }}" onclick=""> Sort By Date <br>

				<h2>Option 2: Conduct Article Analysis</h2>
				<h3>Cleanup</h3>
				<input type="checkbox" id="trash" name="trash" value="{{ query }}" onclick="">Remove Trash <br>
				<input type="checkbox" id="length" name="length" value="{{ query }}" onclick=""> Remove Short Articles <br>

				<h3>Sources</h3>
				<input type="checkbox" id="cnn" name="cnn" value="{{ query }}" onclick=""> CNN  
				<input type="checkbox" id="fox" name="fox" value="{{ query }}" onclick=""> Fox News
				<input type="checkbox" id="npr" name="npr" value="{{ query }}" onclick=""> NPR<br>
				<input type="checkbox" id="msnbc" name="msnbc" value="{{ query }}" onclick=""> MSNBC
				<input type="checkbox" id="ap" name="ap" value="{{ query }}" onclick=""> AP
				<input type="checkbox" id="economist" name="economist" value="{{ query }}" onclick=""> The Economist<br>
				<input type="checkbox" id="time" name="time" value="{{ query }}" onclick=""> Time
				<input type="checkbox" id="fivethirtyeight" name="fivethirtyeight" value="{{ query }}" onclick=""> 538
				<input type="checkbox" id="nytimes" name="nytimes" value="{{ query }}" onclick=""> New York Times<br>
				<input type="checkbox" id="espn" name="espn" value="{{ query }}" onclick=""> ESPN
				<input type="checkbox" id="onion" name="onion" value="{{ query }}" onclick=""> The Onion<br>

				<h2>Procedures</h2>			
				<input type="checkbox" id="classify" name="classify" value="{{ query }}" onclick="">Subjectivity vs. Objectivity <br>
				<input type="checkbox" id="polarity" name="polarity" value="{{ query }}" onclick=""> Text Polarity <br><br>
				<input type="submit" value="Analyze" onclick="javascript: form.action='/analyze/';">
			</form>
		</div>	

	    <div ng-hide="">
	    	{% if output %}
	    	<table style="padding: 5px; font-size:150%" id="Products">
				
				<tr style="font: bold">
					<th> Analysis Output </th>
				</tr>
				
				<tr>
					<td> {{output}} </td>
				</tr>
			{% endif %}
			</table>

			{% if results %}
			<!--{{results}}--><!--
			<table style="padding: 5px; font-size:150%" id="Products">
				
				<tr style="font: bold"> 
					<th> Article ID </th>
					<th> Article Title </th>
					<th> Article Source </th>
					<th> Article Date </th>
					<th> Article Author </th>
					<th> Article Keywords </th>
					<th> Article Text </th>
				</tr>
				{% for p in results %}
				<tr >
					<td> {{ p.article_id }}</td>
					<td> {{ p.article_title }} </td>
					<td> {{ p.article_source }} </td>
					<td> {{ p.article_date }} </td>
					<td> {{ p.article_author  }}</td>
					<td> {{ p.article_keywords }} </td>
					<td> {{ p.article_text }} </td>

				</tr>
				{% endfor %}
			{% endif %}
			</table>
		</div>-->    
		
		<!-- default -->
		<!-- note: do '../' because it automatically looks inside twitterbot directory -->
		<script src="../static/css/jquery.js"></script>
		<script src="../static/css/bootstrap.min.js"></script>

		<!-- specially for this project -->
		<script src="../static/twitterbot/js/index.js"></script>
	   
	    
	</body>
</html>