@font-face {
	font-family: 'Helvetica';
	src: url("../fonts/Helvetica.otf") format("opentype");
}

p, h1, h2, h3 {
	font-family: 'Helvetica';
}

.grid__container {
	text-align:center;
}

#under_name_break {
	height: 50px;
}

#under_handle_break {
	height: 15px;
}

#under_button_break {
	height:30px;
}